# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# IDE and editors
.vscode

# Logs
*.log

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Temporary files
tmp/
temp/
*.tmp

# AI
.claude/